body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

* {
    box-sizing: border-box;
    &:hover{
       outline:  1px black  dotted ;
    }
}

h1,
h2,
h3,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* FORM INPUTS */
button {
    cursor: pointer;
}

input,
select,
textarea {
    padding: 0.5em;
    border-radius: 4px;
    border: 1px solid black;

    &:focus-visible {
        outline: 1px solid black;
    }
}