body {
    margin: 0;
    padding: 0;
    font-family: open-sans;
}

* {
    box-sizing: border-box;

}

pre {
    font-family: unset;
    white-space: pre-wrap;
}

h1,
h2,
h3,
p,
pre {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* FORM INPUTS */
button {
    cursor: pointer;
}

input,
select,
textarea {
    padding: 0.5em;
    border-radius: 4px;
    border: 1px solid black;

    &:focus-visible {
        outline: 1px solid black;
    }
}