.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    height: 3px;
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(128, 128, 128, 0.268);
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
}

.relative {
    position: relative;
}

/* FLEXBOX */
.flex {
    display: flex;

    &.flex-column {
        flex-direction: column;
    }

    &.justify-center {
        justify-content: center;
    }

    &.space-between {
        justify-content: space-between;
    }

    &.align-center {
        align-items: center;
    }

    &.gap1 {
        gap: 1em;
    }
}

.hidden {

    // visibility: hidden;*{
    &>* {

        transition: 3s;
        left: 100px;
    }
}

/* FONT AWESOME */

.fa-solid {
    font-family: fa-solid;
}

.fa-solid.fa-user::before {
    content: "\f007";
}

.fa-solid.fa-lock-keyhole::before {
    content: "\f023";
}

/* ACTIVE CMP */
.active-cmp {
    outline: 3px solid blue !important;
    z-index: 999;
}

/* DEBUG */
// * {
//     border: 1px solid red;
// }s