.main-app {

    &.editor-open {
        display: grid;
        min-height: 100vh;
        grid-template-rows: 48px 1fr;

        .app-header {
            position: fixed;

        }
    }

    &.publisher-open {
        // grid-template-rows:  1fr;
        display: block;

        .app-header {
            display: none;
        }
    }

    // max-height: 60vh;
    // background-color: red;
    .app {
        grid-row-start: 2;
        grid-row-end: 3;

    }

}