.main-app {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 48px 1fr;
    
    &.editor-open {
        .app-header {
            position: fixed;
            
        }
    }
    &.publisher-open {
        grid-template-rows:  1fr;
        .app-header {
           display: none;
        }
    }
    // max-height: 60vh;
    // background-color: red;
    .app {
        grid-row-start: 2;
        grid-row-end: 3;
        
    }
    
}