// TXT

.txt-cmp.classic-1 {
    font-family: $font-classic-1;
    color: rgb(245, 209, 156);
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
}

.txt-cmp.classic-2 {
    font-family: $font-classic-2;
    color: rgb(71, 46, 0);
    text-shadow: 2px 2px 3px black;
    font-style: italic;
}

.txt-cmp.classic-3 {
    font-family: $font-classic-3;
    color: rgb(59, 59, 59);
    text-shadow: 2px 2px rgb(34, 34, 34);
}