// TXT

.txt-cmp.theme-classic-1 {
    font-family: $font-classic-1;
    color: rgb(245, 209, 156);
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
}

.txt-cmp.theme-classic-2 {
    font-family: $font-classic-2;
    color: rgb(71, 46, 0);
    text-shadow: 2px 2px 3px black;
    font-style: italic;
}

.txt-cmp.theme-classic-3 {
    font-family: $font-classic-3;
    color: rgb(59, 59, 59);
    text-shadow: 2px 2px rgb(34, 34, 34);
}

// IMG

.img-cmp.theme-classic-1 {
    box-shadow: 1px -3px 7px rgb(232, 232, 232)
}

.img-cmp.theme-classic-2 {
    box-shadow: 1px -3px 7px rgb(37, 37, 37)
}

.img-cmp.theme-classic-3 {
    border-radius: 50%;
    box-shadow: 1px -3px 5px rgb(37, 37, 37);
}

.img-cmp.theme-classic-4 {
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.829);
    box-shadow: 0 0 9px rgb(216, 216, 216);
}

.img-cmp.theme-classic-5 {
    border-radius: 50%;
    border: 2px solid rgb(134, 110, 0);
    box-shadow: 0 0 9px rgb(216, 216, 216);
}