// TXT

.txt-cmp.theme-classic-1,
.anchor-cmp.theme-classic-1 {
    font-family: $font-classic-1;
    color: rgb(34, 34, 33);
    text-decoration: none;
}

.txt-cmp.theme-classic-2 {
    font-family: $font-classic-2;
    color: rgb(71, 46, 0);
    text-shadow: 2px 2px 3px black;
    font-style: italic;
}

.txt-cmp.theme-classic-3 {
    font-family: $font-classic-3;
    color: rgb(59, 59, 59);
    text-shadow: 2px 2px rgb(34, 34, 34);
}

.txt-cmp.theme-classic-4 {
    font-family: $font-classic-4;
    font-weight: bold;
    color: rgb(31, 99, 95)
}

.txt-cmp.theme-classic-5 {
    font-family: $font-classic-5;
    color: rgb(38, 37, 37);
}

.txt-cmp.theme-classic-6 {
    font-family: $font-classic-6;
    color: rgb(245, 209, 156);
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
}

//ANCHOR
.anchor-cmp.theme-classic-2 {
    font-family: $font-classic-2;
    color: rgb(34, 34, 33);
    text-decoration: underline;
    text-align: center;
}

.anchor-cmp.theme-classic-3 {
    font-family: $font-classic-3;
    padding: 0.5em;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    background-color: rgb(245, 183, 183);
}

.anchor-cmp.theme-classic-4 {
    font-family: $font-classic-4;
    padding: 0.5em;
    text-decoration: none;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(86, 192, 253);
}

.anchor-cmp.theme-classic-5 {
    font-family: $font-classic-5;
    padding: 0.5em;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(127, 228, 186);
    color: rgb(255, 255, 255);
}

// IMG
.img-cmp.theme-classic-1 {
    box-shadow: 1px -3px 7px rgb(232, 232, 232)
}

.img-cmp.theme-classic-2 {
    box-shadow: 1px -3px 7px rgb(37, 37, 37)
}

.img-cmp.theme-classic-3 {
    border-radius: 50%;
    box-shadow: 1px -3px 5px rgb(37, 37, 37);
}

.img-cmp.theme-classic-4 {
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.829);
    box-shadow: 0 0 9px rgb(216, 216, 216);
}

.img-cmp.theme-classic-5 {
    border-radius: 50%;
    border: 2px solid rgb(134, 110, 0);
    box-shadow: 0 0 9px rgb(216, 216, 216);
}

//CONTAINER
.container-draggable-cmp.container-draggable-cmp.container-draggable-cmp.theme-classic-1,
.container-cmp.container-cmp.container-cmp.container-cmp.theme-classic-1 {
    background-image: url(https://cdn.pixabay.com/photo/2016/01/09/18/27/camera-1130731_1280.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container-draggable-cmp.container-draggable-cmp.container-draggable-cmp.theme-classic-2,
.container-cmp.container-cmp.container-cmp.container-cmp.theme-classic-2 {
    background-image: url(https://cdn.pixabay.com/photo/2019/03/11/22/14/vintage-4049642_1280.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container-draggable-cmp.container-draggable-cmp.container-draggable-cmp.theme-classic-3,
.container-cmp.container-cmp.container-cmp.container-cmp.theme-classic-3 {
    background-image: url(https://cdn.pixabay.com/photo/2016/03/26/13/09/workspace-1280538_1280.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}