// TXT
.txt-cmp.theme-dramatic-1 {
    font-family: $font-dramatic-1;
    color: rgb(94, 7, 7);
}

.txt-cmp.theme-dramatic-2 {
    font-family: $font-dramatic-2;
    color: rgb(7, 1, 87);
    text-shadow: 2px 2px 3px black;
    font-style: italic;

}

.txt-cmp.theme-dramatic-3 {
    font-family: $font-dramatic-3;
    color: rgb(53, 2, 27);
    text-shadow: -2px -1px black;
}

//ANCHOR
.anchor-cmp.theme-dramatic-1 {
    font-family: $font-dramatic-1;
    padding: 0.25em;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    color: rgb(255, 162, 162);
    background-color: rgb(42, 3, 96);
}

.anchor-cmp.theme-dramatic-2 {
    font-family: $font-dramatic-2;
    padding: 0.25em;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    color: rgb(230, 12, 12);
    background-color: rgb(42, 69, 120);
}

.anchor-cmp.theme-dramatic-3 {
    font-family: $font-dramatic-3;
    padding: 0.25em;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    color: rgb(226, 204, 163);
    background-color: rgb(16, 15, 15);
}

.anchor-cmp.theme-dramatic-4 {
    font-family: $font-dramatic-1;
    padding: 0.25em;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    color: whitesmoke;
    background-color: rgb(71, 3, 35);
}

.anchor-cmp.theme-dramatic-5 {
    font-family: $font-dramatic-2;
    padding: 0.25em;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    color: whitesmoke;
    background-color: rgb(176, 95, 2);
}

// IMG
.img-cmp.theme-dramatic-1 {
    border-radius: 50%;
    border: 7px solid rgb(14, 14, 14);
    box-shadow: 0 0 0;
}

.img-cmp.theme-dramatic-2 {
    border-radius: 8px;
    border: 4px solid rgb(163, 4, 4);
    box-shadow: 0 0 2px rgb(42, 69, 120);
}

.img-cmp.theme-dramatic-3 {
    border: 4px solid rgb(176, 95, 2);
    box-shadow: 2px 2px 6px rgb(27, 27, 28);
}

.img-cmp.theme-dramatic-4 {
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 0 10px rgb(77, 3, 20);
}