@font-face {
    font-family: questrial;
    src: url(../../fonts/questrial/Questrial-Regular.ttf);
}

@font-face {
    font-family: open-sans;
    src: url(../../fonts/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: alfa-slab-one;
    src: url(../../fonts/Alfa-slab-one/AlfaSlabOne-Regular.ttf);

}

// dramatic
@font-face {
    font-family: Karla;
    src: url(../../fonts/karla/Karla-SemiBold.ttf);
}

@font-face {
    font-family: Abril_Fatface-dramatic;
    src: url(../../fonts/Abril_Fatface-dramatic/AbrilFatface-Regular.ttf);
}

@font-face {
    font-family: anton-dramatic;
    src: url(../../fonts/Anton-dramatic/Anton-Regular.ttf);
}

@font-face {
    font-family: Lobster-dramatic;
    src: url(../../fonts/Lobster-dramatic/Lobster-Regular.ttf);
}

// classic

@font-face {
    font-family: dancing-classic;
    src: url(../../fonts/Dancing_Script-classic/DancingScript-VariableFont_wght.ttf);
}

@font-face {
    font-family: Heebo-classic;
    src: url(../../fonts/Heebo-classic/Heebo-VariableFont_wght.ttf);
}

@font-face {
    font-family: noto-classic;
    src: url(../../fonts/Noto_Sans_JP-classic/NotoSansJP-Medium.otf);
}

@font-face {
    font-family: cinzel-decorative;
    src: url(../../fonts/Cinzel-Decorative/CinzelDecorative-Regular.ttf);
}

@font-face {
    font-family: parisienne;
    src: url(../../fonts/Parisienne/Parisienne-Regular.ttf);
}


//festive

@font-face {
    font-family: blaka-festive;
    src: url(../../fonts/Blaka-festive/Blaka-Regular.ttf);
}

@font-face {
    font-family: flower-festive;
    src: url(../../fonts/Indie_Flower-festive/IndieFlower-Regular.ttf);
}

@font-face {
    font-family: indie-festive;
    src: url(../../fonts/Indie_Flower-festive/IndieFlower-Regular.ttf);
}

@font-face {
    font-family: permanent-festive;
    src: url(../../fonts/Permanent_Marker-festive/PermanentMarker-Regular.ttf);
}

//dark
@font-face {
    font-family: help-me;
    src: url(../../fonts/Help-me/HelpMe-owODB.ttf);
}

@font-face {
    font-family: stranger-creature;
    src: url(../../fonts/Stranger-creature/StrangerCreature-MVpBr.ttf);
}


@font-face {
    font-family: unifraktur-maguntia;
    src: url(../../fonts/UnifrakturMaguntia/UnifrakturMaguntia-Regular.ttf);
}

@font-face {
    font-family: butcherman;
    src: url(../../fonts/Butcherman/Butcherman-Regular.ttf);
}

@font-face {
    font-family: nosifer;
    src: url(../../fonts/Nosifer/Nosifer-Regular.ttf);
}

//light

@font-face {
    font-family: roboto;
    src: url(../../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: bad-script;
    src: url(../../fonts/Bad_Script/BadScript-Regular.ttf);
}

@font-face {
    font-family: dynalight;
    src: url(../../fonts/Dynalight/Dynalight-Regular.ttf);
}

@font-face {
    font-family: shadows-into-light;
    src: url(../../fonts/Shadows_Into_Light/ShadowsIntoLight-Regular.ttf);
}

@font-face {
    font-family: shadows-into-light-two;
    src: url(../../fonts/Shadows_Into_Light_Two/ShadowsIntoLightTwo-Regular.ttf);
}