@font-face {
    font-family: questrial;
    src: url(../../fonts/questrial/Questrial-Regular.ttf);
}

@font-face {
    font-family: open-sans;
    src: url(../../fonts/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: alfa-slab-one;
    src: url(../../fonts/Alfa-slab-one/AlfaSlabOne-Regular.ttf);

}

// dramatic
@font-face {
    font-family: Karla;
    src: url(../../fonts/karla/Karla-SemiBold.ttf);
}

@font-face {
    font-family: Abril_Fatface-dramatic;
    src: url(../../fonts/Abril_Fatface-dramatic/AbrilFatface-Regular.ttf);
}

@font-face {
    font-family: anton-dramatic;
    src: url(../../fonts/Anton-dramatic/Anton-Regular.ttf);
}

@font-face {
    font-family: Lobster-dramatic;
    src: url(../../fonts/Lobster-dramatic/Lobster-Regular.ttf);
}

// classic

@font-face {
    font-family: dancing-classic;
    src: url(../../fonts/Dancing_Script-classic/DancingScript-VariableFont_wght.ttf);
}

@font-face {
    font-family: Heebo-classic;
    src: url(../../fonts/Heebo-classic/Heebo-VariableFont_wght.ttf);
}

@font-face {
    font-family: noto-classic;
    src: url(../../fonts/Noto_Sans_JP-classic/NotoSansJP-Medium.otf);
}


//festive

@font-face {
    font-family: blaka-festive;
    src: url(../../fonts/Blaka-festive/Blaka-Regular.ttf);
}

@font-face {
    font-family: flower-festive;
    src: url(../../fonts/Indie_Flower-festive/IndieFlower-Regular.ttf);
}

@font-face {
    font-family: indie-festive;
    src: url(../../fonts/Indie_Flower-festive/IndieFlower-Regular.ttf);
}

@font-face {
    font-family: permanent-festive;
    src: url(../../fonts/Permanent_Marker-festive/PermanentMarker-Regular.ttf);
}