/* GLOBAL SIZES */
$site-header-height: 48px;
$site-without-header: calc(100vh - $site-header-height);
$site-without-header-tool-bar: calc(100vh - 98px );

/* COLOR PALETTE */
$clr1 : rgb(12, 110, 252);