.wap-cards-01 {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    text-align: center;
    border: 24px solid rgb(14, 14, 14);
    background-color: rgba(0, 0, 0, 0.897);
    padding: 8px 15px;
    position: relative;

    .wap-01-team-title {
        width: 100%;
        margin: auto;
    }

    div.txt-cmp {
        width: 100%;
        margin: auto;
    }

    pre.team-container {
        font-size: 2.7rem;
        color: rgb(209, 209, 209);
        letter-spacing: 3px;
        font-family: alfa-slab-one;
        font-weight: 400;
        width: fit-content;
        text-shadow: 2px 2px 4px black;
        margin: auto;
    }

    .wap-01-team-list {
        flex-grow: 1;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        gap: 15px;
    }

    .wap-01-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        .txt-cmp {
            width: 100%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 275px;
        }

        pre {
            height: 45px;
            width: 100%;
            font-size: 1.3rem;
            font-weight: 600;
            font-family: open-sans;
            background-color: rgb(209, 209, 209);
            color: rgb(14, 14, 14);
            border-radius: 5px;
            padding: 5px;
            border: 2px solid rgb(14, 14, 14);
        }

        &>.img-cmp {
            max-width: 275px;
            flex-grow: 1;
            display: flex;

            &>img {
                width: 100%;
                aspect-ratio: 1/1;
                object-fit: cover;
                border-radius: 5px;
                object-position: 0 -12px;
                border: 2px solid rgb(14, 14, 14);
                // opacity: 0.8;
            }
        }
    }

}

@media (min-width: 625px) {
    .wap-cards-01 {
        min-height: 380px;
        text-align: center;

        .wap-01-team-list {
            flex-direction: unset;
            gap: unset;
        }

        div:last-of-type {
            max-width: 253px;

        }

        .img-cmp {
            max-width: 250px;
        }
    }
}

@media (min-width: 865px) {
    .wap-cards-01 {
        pre.team-container.txt-cmp {
            font-size: 2.5rem;
            position: absolute;
            left: -22px;
            top: -27px;
        }

        div.txt-cmp {
            width: 100%;
            margin: unset;
        }
    }
}

.wap-cards-02 .card {
    padding: 2rem;
    text-align: center;

    &:nth-of-type(odd) {
        background-color: rgb(177, 150, 122);

        .title {
            color: rgb(255, 228, 165);
        }
    }

    &:nth-of-type(even) {
        background-color: rgb(239, 234, 228);

        .title {
            color: rgb(156, 124, 92);
        }
    }

    .title,
    .subtitle,
    .details {
        margin-bottom: 1em;
    }

    .title {
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: bolder;
        letter-spacing: 8px;
    }

    .subtitle {
        color: whitesmoke;
        font-style: italic;
        font-size: 1.2rem;
    }

    .link {
        text-decoration: underline;

        &:hover {
            color: lighten(black, 40%)
        }
    }
}

@media screen and(min-width: 1000px) {
    .wap-cards-02 {
        display: flex;

        .card {
            flex-grow: 1;
            flex-basis: 0;
            min-height: 400px;

            .title,
            .subtitle,
            .details {
                margin-bottom: 2em;
            }
        }
    }
}

.wap-cards-03 {
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1em;
    background-color: rgb(239, 234, 228);

    .card {
        position: relative;
        height: 400px;
        width: 300px;
        margin-bottom: 1rem;

        &>.img-cmp {
            position: absolute;
            width: 90%;
            height: 90%;

            &>img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }
        }

        &>.txt-container {
            position: absolute;
            right: 0;
            bottom: 0;
            padding: 0.7rem;
            width: 70%;
            background-color: whitesmoke;

            .title {
                font-weight: bold;
                font-style: italic;
                margin-bottom: 0.5em;
            }
        }
    }
}

@media screen and(min-width: 1000px) {
    .wap-cards-03 {
        display: flex;
        flex-direction: row;

        .card {
            flex-grow: 1;
            flex-basis: 0;
            margin-bottom: 0;
        }
    }
}

.wap-cards-04 {
    height: 620px;
    background-color: red;
    display: flex;
    flex-direction: column;

    .title {
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 100;
    }

    .subtitle {
        max-width: 350px;
        font-size: 1em;
        font-weight: 600;

    }

    .card.left-card {
        padding: 2em;
        // width: 50%;
        flex-grow: 1;
        justify-content: flex-start;
        align-items: flex-start;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        text-align: left;
        background-image: url(https://res.cloudinary.com/drpqhjyvk/image/upload/v1653758121/templates/pexels-photo-4545329_amfi0d.jpg);

        .anchor {
            margin-top: rem(40px);
            font-weight: 700;
            font-size: 20px;
            letter-spacing: 1px;
            background-color: white;
            padding: .2em 1em .2em;
        }
    }

    .card.right-card {
        flex-grow: 1;
        padding: 2em;
        // width: 50%;
        text-align: right;
        justify-content: flex-start;
        align-items: flex-end;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        background-size: cover;
        background-image: url(https://res.cloudinary.com/drpqhjyvk/image/upload/v1653758136/templates/pexels-photo-149369_sfknwg.jpg);

        .title {
            font-weight: bold;
            color: white;
        }

        .anchor {
            margin-top: rem(40px);
            font-weight: 700;
            font-size: 20px;
            letter-spacing: 1px;
            padding: .2em 1em .2em;
            background-color: black;
            color: #f0f0f0;
        }

        .subtitle {
            max-width: 350px;
            font-size: 1em;
            font-weight: 600;
        }
    }
}

@media (min-width:800px) {
    .wap-cards-04 {
        flex-direction: row;
    }
}