.dramatic-header:not([data-rbd-draggable-context-id]) {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 82px;
    padding: 8px;

    .title {
        font-size: 1.1em;
    }

    &>* {
        display: inline;
    }

    .dramatic-header {
        display: flex;
    }
}

.dramatic-hero {
    width: 100%;
    height: 76vh;
    background-image: url("../../img/dramatic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding: 10px;

    .txt.title {
        font-size: 2.7rem;
        color: white;
    }

}

.dramatic-team-container {
    border: 3px solid black;
    background-color: black;
    padding: 20px;

    .dramatic-team-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;
        text-align: center;
        border: 3px solid black;
        background-color: white;
        padding: 20px;
    }

    .team-container {
        margin-bottom: 30px;
        font-size: 1.2em;
    }

    .dramatic-team-list {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }

    img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
        border: 3px solid black;
    }
}

.dramatic-gallery-container {
    display: flex;
    flex-direction: column;

    .dramatic-gallery {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        width: 300px;
        height: 300px;
    }

}