.dramatic-header:not([data-rbd-draggable-context-id]) {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 82px;
    padding: 15px;

    pre {
        font-size: 2.7em;
        font-family: alfa-slab-one;
    }

    &>* {
        display: inline;
    }

    .dramatic-header {
        display: flex;
    }
}

.dramatic-hero {
    width: 100%;
    height: 76vh;
    background-image: url("../../img/dramatic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding: 15px;

    .txt-cmp {
        flex-grow: 1;
        font-size: 2.5rem;
        color: white;
    }

    pre {
        margin: 0;
        white-space: pre-wrap;
        text-overflow: clip;
        font-family: alfa-slab-one;
    }
}

.dramatic-team-title-container {
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    border: 1px solid black;
    border-left: 25px solid black;
    border-right: 25px solid black;

    pre {
        margin: 10px;
        font-family: alfa-slab-one;
    }
}

.dramatic-gallery-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    align-items: center;
    gap: 10px;
    height: fit-content;

    .img-cmp {
        width: 200px;
    }

    img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        position: center;
    }

}

.dramatic-team-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    text-align: center;
    border: 24px solid black;
    background-color: white;
    padding: 8px 15px;
    gap: 5%;

    pre {
        font-size: 2.7rem;
        margin: 5px;
        font-family: alfa-slab-one;
    }

    .dramatic-team-list {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }

    .dramatic-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        pre {
            font-size: 1rem;
            font-family: alfa-slab-one;
        }

    }

    .img-cmp {
        max-width: 150px;
        flex-grow: 1;
        display: flex;
    }

    img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 50%;
        border: 3px solid black;
    }
}

.dramatic-footer {
    background-color: rgba(0, 0, 0, 0.856);
    color: white;
    border: 1px double black;

    pre {
        margin: 0;
        text-align: center;
        font-family: alfa-slab-one;
    }
}