.wap-footer-01 {
    background-color: rgba(0, 0, 0, 0.897);
    color: white;
    border: 1px double rgb(14, 14, 14);
    padding: 8px;

    pre {
        margin: 0;
        text-align: center;
        font-family: alfa-slab-one;
        font-weight: 400;
        letter-spacing: 3px;
    }
}

.wap-footer-02 {
    text-align: center;
    padding: 0.5rem 0;

    .title {
        margin-bottom: 0.5rem;
    }

    .subtitle {
        color: rgb(57, 0, 33);
    }
}