.wap-footer-01 {
    background-color: rgba(0, 0, 0, 0.897);
    color: white;
    border: 1px double rgb(14, 14, 14);
    padding: 8px;

    pre {
        margin: 0;
        text-align: center;
        font-family: alfa-slab-one;
        font-weight: 400;
        letter-spacing: 3px;
    }
}

.wap-footer-02 {
    text-align: center;
    padding: 0.5rem 0;
    background-color: white;

    .title {
        margin-bottom: 0.5rem;
    }

    .subtitle {
        color: rgb(57, 0, 33);
    }
}

.wap-footer-03 {
    background-color: white;
    font-family: Source Sans Pro, sans-serif;
    height: fit-content;
    justify-content: space-between;

    &>.container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 30px 0;
        flex-grow: 1;

        &>* {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: center;
            justify-content: center;
            width: 100%;
        }

        &>.container {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: center;
            justify-content: center;
            width: 100%;
            gap: 15px;
        }

    }

    .txt-cmp.title {
        color: #536d21;
        font-weight: 900;
        font-size: 1.75em;
        text-align: center;
        margin-bottom: 20px;
    }

    .txt.subtitle {
        background-color: #536d21;
        color: white;
        text-align: end;
        padding: 10px 22px;
        font-weight: 200;
        margin-block-end: 0;
    }
}