.wap-header-01:not([data-rbd-draggable-context-id]) {
    background-color: rgb(14, 14, 14);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 74px;
    padding: 15px;

    a {
        margin-left: 22px;
    }

    pre {
        font-size: 1.2em;
        font-family: alfa-slab-one;
    }

    &>*:not(.edit-buttons) {
        display: inline;
    }

    .wap-header-01 {
        display: flex;
    }
}


@media (min-width: 625px) {
    .wap-header-01:not([data-rbd-draggable-context-id]) {
        pre {
            font-size: 2.7em;
        }
    }
}

.wap-header-02 {
    padding: 0 1rem;
    background-color: rgb(250, 248, 239);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
        margin: 0;
        font-size: 2.5rem;
        font-family: questrial;
    }

    .navbar {

        display: flex;
        align-items: center;
        gap: 1em;

        pre {
            padding: 2rem 1rem;

            &:hover {
                color: orange;
            }
        }

    }
}

.wap-header-03 {
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: center;
    position: static;
    width: 100%;
    padding: 5px 22px;

    img {
        max-width: 140px;
        vertical-align: initial;
    }
}

.wap-05-header-txt-container {
    width: 12%;
    display: flex;
    justify-content: space-between;
    font-family: Source Sans Pro, sans-serif;
    align-items: center;
    gap: 10px;

    .txt {
        color: rgb(83, 109, 33);
        font-weight: 600;
        flex-grow: 1;
    }
}