.wap-hero-01 {
    width: 100%;
    min-height: 72vh;
    background-image: url("https://wallpaperaccess.com/full/3156824.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 15px;

    .txt-cmp {
        flex-grow: 1;
        flex-basis: 0;
        font-size: 2rem;
        color: rgb(61, 61, 61);
        max-height: 55px;
    }

    pre {
        margin: 0;
        white-space: pre-wrap;
        text-overflow: clip;
        font-family: alfa-slab-one;
        max-width: 390px;
    }
}

@media (min-width: 625px) {
    .wap-hero-01 {
        justify-content: center;

        .txt-cmp {
            font-size: 2.5rem;
            max-height: 111px;
        }
    }
}

.wap-section-02 {
    overflow: hidden;
    background-color: rgb(224, 213, 202);

    &>.img-container {
        overflow: hidden;
        max-height: 250px;

        &>img {
            width: 100%;
            min-height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .txt-container {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1em;

        .txt.title {
            font-size: 2.5rem;
            font-style: italic;
        }

        .txt.subtitle {
            font-weight: bold;
        }
    }
}

@media screen and (min-width: 1000px) {
    .wap-section-02 {
        max-height: 400px;
        display: flex;
        max-height: unset;

        &>.img-container {
            width: 60%;
            min-height: 400px;
            max-height: unset;
        }

        .txt-container {
            width: 40%;
            padding: 2rem;
        }

    }
}

.wap-section-03 {
    background-position: 50% 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 4em;
    background-attachment: fixed;
    padding: 2em;
    height: 700px;
    background-image: url(https://res.cloudinary.com/drpqhjyvk/image/upload/v1653753312/templates/template-section-img-03_a7qsgg.jpg);

    .txt.title {
        letter-spacing: 2px;
        font-size: 1.125rem;
        font-weight: 700;
        color: #f0f0f0;
        margin-inline-end: .2em;
        // margin: 20px 0 60px 104px;
    }

    .txt.subtitle {
        font-family: Roboto, sans-serif;
        font-size: 3rem;
        font-weight: 100;
        height: 80px;
        color: #f0f0f0;
        margin-block-end: 60px;
        width: unset;
        // margin: 20px 0 60px 104px;

    }
}

@media (min-width:1000px) {
    .wap-section-03 {

        .txt.subtitle {
            height: unset;
            font-family: Roboto, sans-serif;
            font-size: 3.4rem;
            font-weight: 100;
            color: #f0f0f0;
            width: 900px;
            margin-block-end: 0;

            // margin: 20px 0 60px 104px;
        }

    }

}


.wap-section-04 {
    font-family: Roboto, sans-serif;
    color: #ffffff;
    background-color: #8eacaa;
    height: 900px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 1em;

    .txt.title {
        font-size: 2rem;
        font-weight: 100;
        width: 300px;
    }

    .txt.subtitle {
        margin-bottom: 1em;
        font-size: 2rem;
        font-weight: bold;
        width: 300px;
    }

    .text-description {


        font-size: 1.125rem;
        width: 304px;
        font-weight: 400;

    }

    .anchor {
        background-color: #ffffff;
        color: black;
        padding: 10px 57px 11px 56px;
        margin-top: 2em;

    }

    &>.img-cmp {

        width: 356px;
        height: 300px;
        margin: 0 auto 0;
        padding-block-end: 20px;

        &>img {
            width: 100%;
            height: 100%;

        }
    }
}

@media (min-width:500px) {
    .wap-section-04 {
        .txt.title {
            font-size: 1.9rem;
            width: 520px;
        }

        .txt.subtitle {
            margin-bottom: 1em;
            font-size: 1.9rem;
            width: 520px;
        }

        .text-description {


            font-size: 1.125rem;
            width: 674px;
            font-weight: 400;

        }


        &>.img-cmp {
            width: 506px;
            height: 400px;
            margin: 43px auto 0;

            &>img {
                width: 100%;
            }
        }
    }

}

@media (min-width:1000px) {
    .wap-section-04 {

        .txt.title {
            font-size: 3rem;
            font-weight: 100;
            width: 834px;
        }

        .txt.subtitle {
            margin-bottom: 1em;
            font-size: 3rem;
            font-weight: bold;
            width: 834px;
        }

        .text-description {


            font-size: 1.125rem;
            width: 674px;
            font-weight: 400;

        }

        &>.img-cmp {
            width: 706px;
            height: 500px;
            margin: 43px auto 0;

            &>img {
                width: 100%;
            }
        }
    }

}

.wap-section-06 {
    font-family: Source Sans Pro, sans-serif;
    background-position: 80% 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4em;
    height: 420px;
    background-image: url(https://res.cloudinary.com/drpqhjyvk/image/upload/v1654185836/templates/hero-section-5_lwwnxq.jpg);
    overflow: hidden;

    .txt-container {
        opacity: 1;
        transform: translateZ(0) scale(1);
        height: 100%;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        line-height: 1.5;
        font-weight: 400;
        -webkit-text-size-adjust: 100%;
        gap: 8%;

        .txt.title {
            font-size: 2em;
            display: block;
            font-size: 1.8em;
            font-weight: 700;
            word-break: break-word;
            line-height: normal;
            color: white;
            width: 100%;
            background-color: rgba(83, 109, 33);
            border-radius: 15px;
        }

        .txt.subtitle {
            padding: 10px;
            font-size: 1em;
            font-family: Source Sans Pro, sans-serif;
            font-weight: 400;
            line-height: 1.5em;
            width: 100%;
            background-color: rgba(83, 109, 33);
            border-radius: 15px;
        }
    }

    .txt.title {
        letter-spacing: 2px;
        font-size: 1.125rem;
        font-weight: 700;
        color: #f0f0f0;
        margin-inline-end: .2em;
    }

    .txt.subtitle {
        font-family: Roboto, sans-serif;
        font-size: 3rem;
        font-weight: 100;
        height: 80px;
        color: #f0f0f0;
        width: unset;
    }
}

@media (min-width:740px) {
    .wap-section-06 {
        padding: 2em;

        .txt-container {
            position: absolute;
            padding-bottom: 45px;
            padding-left: 100px;
            text-align: unset;
            height: 450px;
            width: 450px;
            border-radius: 450PX;
            justify-content: flex-end;
            top: -128.571428571px;
            left: -75px;
            align-items: flex-end;
            background-color: rgba(83, 109, 33, .88);

            .txt.title {
                width: unset;
                background: none;
                font-size: 2.3em;
                border-radius: unset;
            }

            .txt.subtitle {
                width: unset;
                padding: unset;
                padding-left: 0;
                padding-right: 75px;
                background: none;
                border-radius: unset;
            }
        }

        .txt.subtitle {
            margin-block-end: 60px;
        }
    }
}


.wap-section-07 {
    font-family: Source Sans Pro, sans-serif;
    padding: 55px 22px;
    position: relative;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    &>* {
        width: 100%;
    }

    .top-circle {
        width: 256px;
        height: 256px;
        border-radius: 256px;
        background-color: rgba(241, 199, 16, .7);
        z-index: 1;
        position: absolute;
        right: -51.2px;
        top: -25.6px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .bottom-circle {
        width: 380px;
        height: 380px;
        border-radius: 380px;
        background-color: #536d21;
        position: absolute;
        right: -257.142857143px;
        bottom: -96.5px;
        z-index: 1;
    }

    .txt.title {
        color: #536d21;
        font-weight: 900;
        font-size: 1.75em;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    &>.container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 1240px;
        gap: 3%;
        z-index: 10;



        &>* {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            flex-basis: 0;
            flex-grow: 1;
            background-color: #ffffff;
            color: rgb(14 14 14);
            padding: 20px;
            // box-shadow: 0 10px 0 #799a05;
            border-bottom: 10px solid #799a05;
            box-shadow: 2px -1px 10px transparent;

        }

        .txt.title {
            color: #536d21;
            font-weight: 600;
            font-size: 1.1em;
            margin: 25px 0;

        }

        .txt.subtitle {
            flex-grow: 1;
            height: max-content;

        }
    }


    pre {
        position: relative;
        line-height: 1.2;
    }

}

.wap-section-07::before {
    content: "";
    background-image: url(https://res.cloudinary.com/drpqhjyvk/image/upload/v1654251136/templates/wap-5-background_fyaxsj.png);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
}

@media (min-width:1048px) {
    .wap-section-07 {
        padding: 75px 22px;

        &>.container {
            flex-direction: unset;
        }
    }
}

.wap-section-05 {
    background-image: url(https://res.cloudinary.com/drpqhjyvk/image/upload/v1654181598/templates/download_v5mjp7.jpg);
    display: flex;
    // height: 60rem;
    justify-content: center;
    gap: 4em;
    align-items: center;
    padding: 1em;
    flex-direction: column;

    .anchor {
        border-color: rgb(15, 12, 9);
        background: rgb(15, 12, 9);
        color: rgba(255, 255, 255, 1);
        font-weight: bold;
        padding: 8px 18px;
        width: 170px !important;
        font-family: "Karla", sans-serif;
        border-radius: .2em;
        text-align: center;

        &:hover {
            color: white;
            background-color: rgba(0, 0, 0, 0.676);
        }
    }

    .anchor-second {
        border-color: rgb(255, 255, 255);
        background: rgb(255, 255, 255);
        color: rgb(154, 35, 179);
        padding: 20px 32px;
        font-family: "Karla", sans-serif;
        font-size: 1.4em;
        border-radius: .4em;
        width: 240px !important;
        text-align: center;

        &:hover {
            color: rgb(154, 85, 200);
            background-color: whitesmoke;
        }

    }

    .txt-container {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 2em;

        .txt.title {
            color: white;
            font-weight: bold;
            font-size: 1.6em;
            max-width: 550px;


        }

    }

    .txt.description {
        width: 65%;
        height: 1px;
        background-color: white;
    }

    .txt.subtitle {
        color: white;
        font-size: 1.4em;
    }

    .txt.subtitle.second {
        color: white;
        font-size: 1.5em;
        margin-block-end: 1em;
    }

    &>.img-cmp {

        width: 70%;
        height: 25%;
        margin: 0 auto 0;
        padding-block-end: 20px;
        aspect-ratio: 1/1;


        &>img {
            width: 100%;
            height: 100%;

        }
    }

}


@media (min-width:1200px) {
    .wap-section-05 {
        align-items: unset;

        flex-direction: row;
        padding: 4em;

        &>.img-cmp {

            width: 74%;

            height: 80%;
            margin: 0 auto 0;
            padding-block-end: 20px;
            aspect-ratio: 1/1;
            display: flex;
            align-items: center;



            &>img {
                width: 60%;
                height: 100%;

            }
        }

        .txt-container {
            max-width: 800px;

            .txt.title {
                color: white;
                font-weight: bold;
                font-size: 3.1em;
                max-width: 550px;


            }

            .txt.subtitle {
                color: white;
                font-size: 1.4em;
            }

            .txt.subtitle.second {
                color: white;
                font-size: 1.5em;
                margin-block-end: 1em;
            }
        }
    }
}

.wap-section-071 {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-family: Karla;
    padding: 2em;
    background-color: white;


    .txt.title {
        font-size: 1.875rem;
        text-align: center;
        white-space: pre-wrap;
        // font-weight: 600;
        color: rgb(36, 36, 36);

    }

    .txt-container {

        display: flex;
        flex-direction: column;
        gap: 1em;
        color: rgba(0, 0, 0, 0.451);

        &>.img-cmp {
            flex-grow: 1;
            max-width: 100%;

            // width: 2000px;
            img {
                width: 100%;
                // height: 100%;
                object-fit: cover;
            }
        }

        .txt-container-second {
            display: flex;
            flex-direction: column;
            gap: 1em;
        }
    }

}

@media (min-width:800px) {
    .wap-section-071 {

        .txt-container {
            &>.img-cmp {}

            .txt-container-second {
                flex-direction: row;
            }
        }

    }
}

@media (min-width:1000px) {
    .wap-section-071 {
        display: flex;

        .txt.title {
            font-size: 2.875rem;
            text-align: center;
            white-space: pre-wrap;
            // font-weight: 600;
            color: rgb(36, 36, 36);

        }

        .txt-container {
            display: flex;
            flex-direction: row;
            gap: 1em;
            font-size: 1.4rem;
            width: 100%;

            &>.img-cmp {
                flex-grow: 1;
                width: 2000px;

                img {
                    width: 100%;

                    object-fit: cover;
                }

            }

            .txt-container-second {
                display: flex;
                flex-direction: column;
                gap: 1em;
            }
        }

    }
}