.app-header {
    height: fit-content;
    box-shadow: 0 1px 6px 0px rgba(0, 0, 0, 0.329);
    min-width: 100%;
    background-color: white;
    z-index: 30;

  

    .logo {
        font-family: questrial;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 1px;
        height: 48px;
        border-inline-start: 1px solid lightgrey;
        border-inline-end: 1px solid lightgrey;
        width: 112px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-nav {
        display: flex;
        flex-grow: 1;
    }

    a {
        height: 48px;
        width: 92px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover:not(.logo-link):not(.active) {
            color: lightseagreen;
        }

        &.active {
            font-weight: 600;
        }
    }


}