.app-header {
    height: fit-content;
    box-shadow: 0 1px 6px 0px rgba(0, 0, 0, 0.329);
    min-width: 100%;
    background-color: white;
    z-index: 2000;
    .show-site-links{
        display: flex;
        gap: 15px;
    }
    .user-modal-header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: .5em;
        position: absolute;
        // gap: 1em;
        background-color: white;
        top: 4em;
        // right: 2.2em;
        right: 15px;
        width: 300px;

        .logout-btn {
            margin-top: rem(14px);
            height: 30px;
            color: #3899ec;
            background-color: white;
            font-size: 15px;
            letter-spacing: .4px;
            width: 87px;
            align-self: flex-end;
            margin-inline-end: 1em;
            margin-block-end: 1em;
            border-radius: 1em;
            border: 1px solid #4aa2ee;

            &:hover {
                background-color: #4eb7f5;
                color: #e1f3fd;
            }
        }

        .username {
            font-size: 17px;
            font-weight: 500;
            margin-inline-start: 1em;
        }


        a:not(.logo-link) {
            height: 48px;
            width: 200px;
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-inline-start: 1em;

            &:hover:not(.logo-link):not(.active) {
                color: rgba(12, 108, 252, 0.47);
            }

            &.active {
                font-weight: 600;
            }
        }

        a.modal-links {
            display: none;
        }

        .user-data {
            border-bottom: 1px solid #dadada;
            padding: 1em 1em 1em;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .user-img-header-inside {
                margin: 0;
                padding: 0;
                width: 40px;
                border-radius: 50%;
            }
        }

        .nav-links-user-modal {
            padding: 1em 0 1em;
            border-bottom: 1px solid #dadada;
            height: 100%;
        }
    }

    .logo {
        height: 48px;
        padding: 15px 0;
        // margin-inline-start: 20px;
        width: 80px;
        // margin-inline-end: 16px;
        border-inline-end: 1px solid lightgrey;

        img {
            width: 78%;
            height: 100%;
        }
    }

    .hambrger {
        display: none;
    }

    .header-nav {
        display: flex;
        flex-grow: 1;
    }

    a:not(.logo-link) {
        color: #20455e;
        height: 48px;
        width: 92px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover:not(.logo-link):not(.active) {
            color: rgb(12, 110, 252);
        }

        &.active {
            font-weight: 600;
        }
    }

    .login-signup-container {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            width: fit-content;
            margin: 0 8px;
        }

        .sign-up {
            font-weight: 600;
        }
    }

    .user-area {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        // width: 700px;
        // width: 70px;
        width: 0;
        // margin: auto;

        .user-img-header {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            // margin-right: 34px;
            // margin-right: 20px;
        }
    }
}

.screen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: var(--screen-height);
    // background-color: rgb(255, 0, 0);
    opacity: 0.3;
    z-index: 1000;
    // pointer-events: none;
    overflow: hidden;
}

// .up-screen {
//     z-index: 1001;
//     position: relative;

// }

.publish-btn {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: rem(14px);
    background-color: $clr1;
    border-radius: 15px;
    padding: 0 18px;
    padding-block-end: rem(1px);
    color: #fff;
    border: none;
    height: 30px;
    // margin-inline-end: 20px;
    letter-spacing: .15px;

    &:hover {
        background-color: #5999ff;

    }

}
.preview-btn{
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: rem(14px);
    background-color: white;
    border-radius: 15px;
    padding: 0 18px;
    padding-block-end: rem(1px);
    color:  $clr1;
    border: 1px solid  $clr1;
    height: 30px;
    // margin-inline-end: 15px;
    letter-spacing: .15px;
    &:hover{
        background-color: #5999ff;
        color: white;
    }
}


@media (max-width:650px) {

    .app-header {
        main {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        display: flex;
        width: 100%;
        position: relative;
        align-items: flex-end;

        & a.modal-links {
            display: flex !important;
        }

        .user-img-header {
            display: none;
        }

        .hambrger {
            text-align: center;
            display: flex;
            align-items: center;
            border-radius: 50%;
            justify-content: center;
            font-size: 22px;
            width: 31px;
            user-select: none;

            &:hover {
                background-color: #20455e2c;
            }
        }

        &.open {

            .header-nav {
                visibility: visible;

            }
        }

        .header-nav {
            display: none;
        }

        a:not(.logo-link) {
            color: #20455e;
            display: none;


            &:hover:not(.logo-link):not(.active) {}

            &.active {}
        }

        & .user-area {
            cursor: pointer;
            width: 42px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin: 0;


        }
    }

}