.app-header {
    height: fit-content;
    box-shadow: 0 1px 6px 0px rgba(0, 0, 0, 0.329);
    min-width: 100%;
    background-color: white;
    z-index: 30;

    .logo {
        height: 48px;
        padding: 15px;
        margin-inline-start: 20px;
        width: 110px;
        // margin-inline-end: 16px;
        border-inline-end: 1px solid lightgrey;

        img {
            width: 78%;
            height: 100%;
        }
    }

    .header-nav {
        display: flex;
        flex-grow: 1;
    }

    a:not(.logo-link) {
        height: 48px;
        width: 92px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover:not(.logo-link):not(.active) {
            color: rgb(12, 110, 252);
        }

        &.active {
            font-weight: 600;
        }
    }

    .login-signup-container {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            width: fit-content;
            margin: 0 8px;
        }

        .sign-up {
            font-weight: 600;
        }
    }

    .user-area {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 700px;
        margin: auto;

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 34px;
        }
    }
}

.screen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: var(--screen-height);
    background-color: rgb(255, 0, 0);
    opacity: 0.3;
    z-index: 100;
    // pointer-events: none;
    overflow: hidden;
}

.up-screen {
    z-index: 800;
    position: relative;

}