.edit-buttons {
    display: flex;
    gap: 9px;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: absolute;
    // top: -30px;
    // left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
    
    .img-container {
        width: 15px;
        height: 15px;
        gap: 10px;
        border-radius: 50%;
        box-sizing: unset;
        // background-color: #fffaf0;
        background-color: white;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        img {
            max-width: 95%;
        }

        &:hover {
            // background-color: #cac8c8;
            background-color: whitesmoke;
        }
    }
}