.wap-section.classic {

    .img-container {
        width: 60%;
        background-color: red;

        img {
            object-fit: cover;
            object-position: center;
            width: 100%;
        }
    }

    .description-section {
        width: 40%;
        background-color: blue;

        .txt.title {
            font-size: 2.5rem;
            font-style: italic;
        }

        .txt.subtitle {
            font-weight: bold;
        }
    }

}