.happy-header.wap-section {
    .img-container {
        img {
            width: 100%;
        }
    }

    position: relative;
    
    .description-section{
        background-color: rgba(128, 128, 128, 0.5);
        position: absolute;
        bottom: 0;
        width: 80%;
    }
}