.user-msg {
    position: fixed;
    padding-inline-start: 1em;
    bottom: 1rem;
    right: 1rem;
    background-color: lightgray;
    border-radius: 6px;
    box-shadow: inset 0 0 1px black;
    overflow: hidden;
    cursor: pointer;

    span {
        display: inline-block;
        padding: 1em;
        color: whitesmoke;
        background-color: grey;
    }

    &.danger {
        background-color: #f5dcdd;

        span {
            background-color: #ba141a;
        }
    }

    &.success {
        background-color: #dbebdb;

        span {
            background-color: #107c10;
        }
    }

}