.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 22px 0;
    color: rgb(4, 22, 82);
    gap: 22px;
    // background-image: url(https://res.cloudinary.com/drpqhjyvk/image/upload/v1654551324/grey-wave-background3_o7lupi.jpg);
    // background-position-y: -25%;
    // object-fit: cover;
    // background-size: cover;
    background-color: rgba(226, 225, 252, 0.705);

    h1 {
        font-size: 1.5rem;
    }

    .analytics-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: max-content;
        gap: 22px;
        border-radius: 25px;

        &>* {
            flex-grow: 1;
            flex-basis: 45%;
        }
    }

    .leads-list {
        display: flex;
        flex-direction: column;
        // padding: 10px;
        width: 98%;

        h2 {
            text-align: center;
        }

        ul {
            background-color: white;
            list-style: none;
            height: 70vh;
            max-height: 70vh;
            padding: 10px;
            min-width: 100%;
            border-radius: 5px;
            height: fit-content;
            margin: 0;
            border-radius: 25px;
            overflow-y: auto;

            li {
                word-wrap: break-word;
                display: flex;
                justify-content: space-between;
                text-align: left;
                font-size: 0.875rem;
                padding-left: 10px;
                padding-right: 10px;
            }

            li:not(li:first-child) {
                margin: 15px 0;
                border-top: 1px solid rgba(128, 128, 128, 0.301);
                padding-top: 15px;
            }

            span {
                margin: 0 5px;
                width: 20%;
            }

            span:nth-child(3) {
                flex-grow: 1;
            }

            span.title {
                font-weight: 700;
            }

        }
    }

    .leads-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 22px;

        .chart {
            flex-grow: 1;
            padding: 15px;
            background-color: white;
            border-radius: 25px;

            // &>* {
            //     height: 100%;
            // }
        }

        .info-boxes {
            display: flex;
            justify-content: center;
            flex-grow: 1;
            gap: 20px;

            h3 {
                margin-bottom: 10px;
                font-size: 1rem;
            }

            .dash-info-box {
                background-color: white;
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 25px;
                height: 100px;

                span {
                    font-weight: 600;
                }
            }
        }

    }
}

//MOBILE ONLY
@media (max-width: 670px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 400px) {
    .dashboard {
        h1 {
            font-size: 1.75rem;
        }
    }
}

@media (min-width: 850px) {
    .dashboard {
        padding: 1.375rem;

        .leads-list {
            width: 90%;
        }

        .leads-info {
            flex-direction: unset;
            width: 90%;
            gap: 3%;

            .info-boxes {
                flex-direction: column;

                .dash-info-box {
                    height: unset;
                }
            }

            .chart {
                max-width: 70%;
                padding: 52px;
            }
        }
    }
}