.editor{
    display: flex;
    position: relative;
    overflow-y: hidden;
    height: 94.9vh;
    .editor-site-container{
        display: flex;
        flex-grow: 1;
        width: 80%;
        max-height: 90vh;
        overflow-y: auto;
        flex-direction: column;
        & *>:hover{
            outline:  1px black  dotted ;
         }
     }
}