.editor {
    display: grid;
    position: relative;
    grid-template-columns: 50px 1fr;


    &.tool-bar-open {
        grid-template-columns: 24rem 1fr;
    }

    padding: 0;
    margin: 0;

    .editor-site-container {
        overflow-y: auto;
        height: $site-without-header;
        display: flex;
        grid-column: 2/-1;
        flex-grow: 1;
        flex-direction: column;
        position: relative;

        & *>:hover {
            outline: 1px black dotted;
        }
    }
}