.home-page {
    max-height: $site-without-header;
    overflow-y: auto;

    .hero {
        position: relative;
        height: 75vh;
        margin-block-end: 10vh;

        .get-started {
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            row-gap: 1em;
            align-items: center;
            z-index: 10;
            position: absolute;
            font-size: 2em;
            font-weight: 900;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            max-width: 37.8125em;

            &:first-child {
                text-shadow: 1px 1px 1px black;
                // color: b;

            }

            .get-started-btn {
                background-color: $clr1;
                width: 12.0625rem;
                height: 3.75rem;
                border: none;
                color: #fff;
                border-radius: 10em;
                font-size: 23px;
                letter-spacing: 1px;

                &:hover {
                    background-color: lighten(rgb(12, 110, 252), 7%);
                }

            }
        }

        .logo {
            width: 400px;
        }

        .hero-img {

            position: relative;
            height: 100%;
            opacity: .4;
            background-image: url(https://cdn.pixabay.com/photo/2018/05/04/20/01/website-3374825_960_720.jpg            );
            // background-image: url(https://images.unsplash.com/photo-1563089145-599997674d42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
            // background-image: url();
            background-position: 0 60%;
            // opacity: 0.6;
            background-repeat: no-repeat;
            background-size: cover;

            &::before {
                position: absolute;
                left: 0;
                top: 0;
                content: '';
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.206);

            }
        }
    }

    .show-more-btn {
        background-color: $clr1;
        width: rem(150px);
        height: rem(40px);
        border: none;
        color: #fff;
        border-radius: 10em;
        font-size: 20px;
        letter-spacing: 1px;

        &:hover {
            background-color: lighten(rgb(12, 110, 252), 7%);
        }

    }

    .templates {

        display: grid;
        // margin-block-end: 200px;;

        // padding: 0 rem(40px) 0;
        grid-template-columns: repeat(1, minmax(0, rem(400px)));
        justify-content: center;
        align-items: center;
        gap: 2em;

        .template-card .template-card-img-container .wap-description {
            margin-bottom: unset;
        }
    }

    .about {}

    text-align: center;

    .show-more {
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
        margin-block-start: 5vh;
        grid-row: span 3;

        .line {
            width: 33%;
            height: 1px;
            border: 1px solid rgba(0, 0, 0, 0.268);
        }
    }

    .freedom {
        margin-block-start: 5vh;

        // padding: 13% 3rem 0;

        display: flex;
        flex-direction: column;
        background-color: #14348e;
        // height: rem(600px);
        height: fit-content;
        padding: 3rem 20px;
        justify-content: center;
        gap: 4em;
        position: relative;

        // align-items: flex-start;

        >& {
            flex-grow: 1;
            display: flex;
        }

        pre {
            white-space: unset;
            max-width: rem(600px);
            color: white;
            overflow-wrap: break-word;
            text-align: start;
            position: relative;
            z-index: 20;

        }

        .left-pre {
            font-size: rem(28px);
            font-weight: bold;

        }

        .right-pre {
            font-size: rem(16px);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            gap: 2em;

            // font-weight: bold;
            .link-to-templates {
                align-self: flex-end;
                max-width: 300px;
                display: flex;
                // margin-top: 20px;
                gap: 1em;

                align-items: center;
            }

            a {
                color: white;
                font-weight: bold;
                text-decoration: underline;
                position: relative;
                z-index: 20;

            }

            span {
                color: white;
                font-size: 32px;
                padding-block-end: 4px;
                position: relative;
                z-index: 20;
                // font-weight: bold;
            }

            &:hover {
                color: #030b20;

                span {

                    position: relative;
                    left: 6px;
                }
            }

        }

    }

    .build-unique {
        background-color: #14348e;
        min-height: rem(600px);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 2rem;

        justify-content: space-between;
        gap: 2em;

        .developer-img {
            align-self: stretch;
            width: 100%;
            flex-grow: 1;
            background-image: url('https://static.wixstatic.com/media/311dce_3945bf5d06e344c4a70b134fd3dc46d3~mv2.jpg/v1/fill/w_680,h_980,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/311dce_3945bf5d06e344c4a70b134fd3dc46d3~mv2.jpg');
            //    flex-basis: 0;
            background-position: 50% 30%;
            // height: 100%;
            min-height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 62%;
                height: 70%;
            }
        }

        .presence {
            // padding-inline-start: 5%;
            padding-block-start: 1rem;
            // margin-inline-start: 8.3em;
            // max-width: 350px;
            text-align: left;
            display: flex;
            flex-direction: column;
            gap: 1em;

            h2 {
                font-size: rem(28px);

            }

            .features {
                gap: 1em;
                display: flex;
                flex-direction: column;

                article {
                    display: flex;
                    flex-direction: column;
                    gap: 1em;
                    min-width: 200px;
                }
            }

            .lines {
                display: none;
                //     display: flex;
                //     gap: 1em;
                //     padding: 1em 0 1em;

                //     .line-black {
                //         width: 80%;
                //         height: 1px;
                //         border: 1px solid black;
                //     }
                // }
            }

            .get-started {
                align-self: center;
                width: 100%;
                max-width: 270px;
                margin-top: 2em;
                padding: 1.3rem;
                text-align: center;
                font-weight: bold;
                color: #14348e;
                background-color: white;
                border-radius: 6em;
            }
        }
    }
}


.app-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0 -1px 6px 0px rgba(0, 0, 0, 0.329);
    color: rgba(0, 0, 0, 0.705);
    position: relative;
    font-size: 12px;

    span:not(.footer-logo) {
        margin: 5px 5px
    }

    .footer-logo {
        font-family: questrial;
        font-weight: 700;
        font-size: 18px;
        position: absolute;
        left: 20px;
        color: black;
        // padding-inline-start: 15px
    }
}

@media screen and (min-width: 600px) {
    .home-page {
        .show-more {
            margin-block-start: 10vh;
        }

        .freedom {
            margin-block-start: 10vh;
            padding: 13% 3rem;
            flex-direction: row;

            .right-pre .link-to-templates {
                align-self: unset;
            }
        }

        .build-unique .presence {
            max-width: 500px;

            .features {
                gap: 1em;
                display: flex;
                flex-direction: row;

                article {
                    display: flex;
                    flex-direction: column;
                    gap: 1em;
                    min-width: 200px;
                }
            }

            .lines {
                display: flex;
                gap: 1em;
                padding: 1em 0 1em;

                .line-black {
                    width: 80%;
                    height: 1px;
                    border: 1px solid black;
                }
            }
        }

        .app-footer {
            justify-content: center;

            span:not(.footer-logo) {
                margin: 5px 15px
            }
        }
    }
}

@media screen and (min-width:1000px) {
    .home-page {
        .hero {
            .get-started {
                font-size: 3em;
            }

            .logo img {
                width: 100%;
            }
        }

        & .templates {
            grid-template-columns: repeat(3, minmax(0, rem(400px)));
            gap: 3em;
            margin-bottom: -0.3%;
        }

        .freedom {

            flex-direction: row;
            background-color: #14348e;
            padding: 13% 10rem 0;
            padding-inline-start: 10em;
            height: rem(600px);
            justify-content: center;
            gap: 4em;
            position: relative;

            &>* {
                flex-basis: 0;
                flex-grow: 1;
            }

            .right-pre {
                align-items: center;
                font-size: rem(22px);
            }

            .left-pre {
                font-size: rem(48px);
            }

        }


        .build-unique {
            flex-direction: row;
            padding-bottom: unset;

            .developer-img {
                border-top-left-radius: 1em;
                width: 50%;
                background-position: 50% 30%;
                // height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    // width: 62%;
                    // width: 90%;
                    width: unset;
                    height: unset;
                    max-width: 90%;
                    max-height: 700px;
                    // aspect-ratio: 1/1;
                    object-fit: cover;
                    // height: 100%;

                }
            }

            .presence {
                order: -1;

                flex-grow: 1;
                padding-inline-start: 5%;
                padding-block-start: 1rem;
                max-width: 600px;
                gap: 1em;
                flex-wrap: wrap;

                h2 {
                    font-size: rem(48px);

                }

                // .features {
                //     gap: 1em;
                //     display: flex;
                //     flex-direction: row;

                //     article {
                //         display: flex;
                //         flex-direction: column;
                //         gap: 1em;
                //         min-width: 200px;
                //     }
                // }


            }
        }
    }
}